#funny{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}
header{
    position: fixed;
      top: 0;
      width: 100%;
      /* background-color: #262320; */
      text-align: center;
      
      z-index: 100;
}
h1, .text{
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    font-family: "Permanent Marker", cursive;
    margin-bottom: 10px;
}
#space a {
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

#singers-container, #green-shirt-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
#face{
    width: 500%;
    height: 500%;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
#space{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* html{
    background-image: image-set(url(8_orgid_17df2b8b-61cb-4353-b3cd-51379a7523cb.jpg));
} */
 #Jayci{
    width: 100%;
    height: 100%;
 }
 body{
    background-color: rgb(124, 0, 0);
 }
 #header-logo {
  text-align: center;
  padding: 15px 0;
  background-color: var(--background);
}

#header-contact-mobile-nav {
  /* grid-area: header-contact-mobile-nav; */
  background-color: rgb(133, 0, 0);
@media screen and (prefers-color-scheme: dark){
  background-color: var(--background);
}
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  color: black;
  padding: 01.5em;
  cursor: pointer;
  /* display:flex; */
@media screen and (prefers-color-scheme: dark){
    color:white;
}
}
.fa-solid{
  position: absolute;
  right: 2%;
  /* display:flex; */
}

#header-bottom-nav {
  grid-area: header-bottom-nav;
  background-color: rgb(255, 255, 255);
  color: black;
}

@media screen and (prefers-color-scheme: dark){
  #header-bottom-nav {
    color:rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }
}

#header-bottom-nav ul {
  border-top: 1px solid lightgrey;
  align-items: flex-start;
  flex-direction: column;
}

#header-bottom-nav ul li {
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

#header-bottom-nav ul li a {
/*   background-color: yellow; */
  color: rgb(0, 0, 0);
  display: flex;

  font-size: 1.2em;
  border-bottom: 0.25em solid transparent;

  /* padding: 20px; */
  width: 100%;
@media screen and (prefers-color-scheme: dark){
    color:rgb(255, 255, 255);
}
}

#header-bottom-nav ul li a:hover,
#header-bottom-nav ul li a.active{
  color: 
deepskyblue;
}
#header-logo {
    text-align: center;
    padding: 15px 0;
    background-color: var(--background);
  }
  
  #header-contact-mobile-nav {
    /* grid-area: header-contact-mobile-nav; */
    background-color: rgb(133, 0, 0);
  @media screen and (prefers-color-scheme: dark){
    background-color: var(--background);
  }
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #mobile-nav {
    color: black;
    padding: 01.5em;
    cursor: pointer;
    /* display:flex; */
  @media screen and (prefers-color-scheme: dark){
      color:white;
  }
  }
  .fa-solid{
    position: absolute;
    right: 2%;
    /* display:flex; */
  }
  
  #header-bottom-nav {
    grid-area: header-bottom-nav;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  @media screen and (prefers-color-scheme: dark){
    #header-bottom-nav {
      color:rgb(0, 0, 0);
      background-color: rgb(0, 0, 0);
    }
  }
  
  #header-bottom-nav ul {
    border-top: 1px solid lightgrey;
    align-items: flex-start;
    flex-direction: column;
  }
  
  #header-bottom-nav ul li {
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }
  
  #header-bottom-nav ul li a {
  /*   background-color: yellow; */
    color: rgb(0, 0, 0);
    display: flex;
  
    font-size: 1.2em;
    border-bottom: 0.25em solid transparent;
  
    /* padding: 20px; */
    width: 100%;
  @media screen and (prefers-color-scheme: dark){
      color:rgb(255, 255, 255);
  }
  }
  
  #header-bottom-nav ul li a:hover,
  #header-bottom-nav ul li a.active{
    color: 
  deepskyblue;
  }