h1{
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}
button{
    font-family: "Permanent Marker", cursive;
}
#space a {
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

#singers-container, #green-shirt-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
#face{
    width: 500%;
    height: 500%;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#space{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
html{
    background-image: image-set(url(8_orgid_17df2b8b-61cb-4353-b3cd-51379a7523cb.jpg));
}